<div class="container">

  <div *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <div class="card mt-4 mb-2">
    <div class="card-header">
      Customers List
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let c of customers">
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td class="text-center">
            <button class="btn btn-secondary" (click)="onOrders(c.id)">Orders</button>
          </td>
        </tr>

      </table>

    </div>
  </div>

  <nav *ngIf="pageResponse">
    <ul class="pagination justify-content-center">

      <li [classList]="pageResponse.number <= 0?'page-item disabled':'page-item'">
        <a class="page-link" (click)="onPage(pageResponse.number-1)">Previous</a>
      </li>

      <li *ngFor="let item of [].constructor(pageResponse.totalPages);let i = index" (click)="onPage(i)">
        <a [classList]="i == pageResponse.number ? 'page-link active':'page-link'">{{i}}</a>
      </li>

      <li class="page-item" [classList]="pageResponse.number >= pageResponse.totalPages -1?'page-item disabled':'page-item'">
        <a class="page-link" (click)="onPage(pageResponse.number+1)">Next</a>
      </li>
    </ul>
  </nav>

</div>
